<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img  alt="T2SM" class="img-size" src="../../assets/static/image/T2Smlogo1.png" ></a>

    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" (click)="route.navigate(['/login']);" >HOME </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FEATURES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" >LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>