
.navbar{
    background-color :white !important;
    border: 1px solid gainsboro;
}
.img-size{
    width: 150px;
    height: 60px;
    margin-left: 50px;
}
.navbar-brand{
    padding: 10px;
    font-size: 20px;
    font-style: normal;
    color: black !important;
}
.nav-item{
    margin-right: 20px;

}
.nav-link{
    color: gray !important;
    font-size: 18px;
}
a{
    width: 75%;
    float: rigth;
}