<div class="w3-sidebar w3-bar-block" style="width:20%"> 
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Feature</a>
    <a href="#" class="w3-bar-item w3-button">Contact</a>
    <a href="#" class="w3-bar-item w3-button">Logout</a>
</div>
  ;
 