.w3-sidebar{
    width: 18% !important;
    background-color:whitesmoke ; 
    
}
.w3-bar-item{
   border: 1px solid ghostwhite !important;
}
.w3-button{
    background-color :transparent !important; 
}

a{
  font-size: 25px !important;  
  text-align: center !important;
  padding: 5px;
  color:gray;
}