<div class="models">
    <div class="header">
        <div class="btn-1">
            <button class="btn-signup" (click)="openComponent()" style="width: 10% ;float: left;">Create User</button>
        </div>
        <div class="input" >
            <form  class ="form-1" #searchbtn="ngForm">
                <input type="text" name="search" placeholder="Search Employee"  [(ngModel)]="id"> 
                <button class="search-btn" (click)="onClickSearch()" [disabled]="searchbtn.invalid" >SUBMIT</button>
            </form>
        </div>
    </div>
    <div>
        <table class="table table-hover " id="table">
            <tr class="tr">
                <td class="td">id</td>
                <td class="td"> Name</td>
                <td class="td">Email</td>
                <td class="td">Phone number</td>
                <td class="td">Created at</td>
                <td class="td">Updated at</td>
                <td class="td">Edit</td>
                <td class="td">Delete</td>
            </tr>
            <tr *ngFor="let com of lstget">
                <td class="td"><p>{{com?.id}}</p></td>
                <td class="td"><p>{{com?.name}}</p></td>
                <td class="td"><p>{{com?.Email_id}}</p></td>
                <td class="td"><p>{{com?.phone_no}}</p></td>
                <td class="td"><p>{{com?.created_at}}</p></td>
                <td class="td"><p>{{com?.updated_at}}</p></td>
                <td><button class="search-btn" (click)="openEditComponent(com)">Edit</button></td>
                <td><button class="delete">Delete</button></td> 
            </tr>
        </table>
    </div>
</div>
<app-signup *ngIf="isOpenSignUp" [getsData]="editdata"></app-signup>
