button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
.form-1{
    width: 30%;
    float: right;
    margin-bottom: 10px
}
button, input {
    overflow: visible;
    float: left;
    height: 40px;
}
.header{
    width: 100%;
}

.search-btn{
    width: 70px !important;
    float: left;
    height: 40px;
  }
.search-btn{
    width: 20px;
    height: 40px;
}