
<div class="modal">
    <div class="modal-content animate">
        <button class="close" (click)="closeComponent()">X</button>
        <form  #userForm="ngForm">
            <label>
                <p class="label-txt">NAME</p>
                <input required type="text" name="name"  [(ngModel)]="oposts.name"  class="input" placeholder="ENTER NAME">
                <div class="line-box">
                <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Email_id</p>
                <input type="text" class="input" name="Email" [(ngModel)]="oposts.Email_id" placeholder="ENTER Email" >
                <div class="line-box">
                <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Password</p>
                <input type="password" class="input" name="password"   [(ngModel)]="oposts.password"  placeholder="ENTER pASSWORD" >
                <div class="line-box">
                <div class="line"></div>
                </div>
            </label>
            <label>
                <p class="label-txt">Phone Number</p>
                <input type="number" class="input" name="phone number"  [(ngModel)]="oposts.phone_no"  placeholder="ENTER PHONE NUMBER" >
                <div class="line-box">
                <div class="line"></div>
                </div>
            </label>
        </form >
        
        <button class="button" (click)="onClickSubmit()" [disabled]="userForm.form.invalid" >SUBMIT</button>

    </div>
</div>

